
body {
    width: 80vw;
    height: 100vh;
    margin: auto;
}

.benner {
    /*background-image: url(../static/hd-wallpaper-g24d5b084b_1920.jpg);*/


    background-size: cover;
    text-align: center;
    height: 380px;
    width: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}


.benner {
    background-image: url("https://images.unsplash.com/photo-1601084213767-04a4dba01dbb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80");
    background-position: center 55%;
    background-size: cover;
    text-align: center;
    height: 40vh;
    width: 80vw;
    margin-top: auto;
    display: flex;

}

.link {
    width: 100%;
    float: right;
    display: block;
    position: absolute;
    left: 68%;
    margin: 10px auto;
}

.link-2 {
    color: white;
    margin-left: 20px;
}

.link-3 {
    float: right;
    margin-left: 20px;
}

.link {
    display: flex;
    flex-direction: row;
}

.link .menu {
    margin-right: 1rem;
}

.link .menu:last-child {
    margin-right: 0;
}

.link a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

.home {
    font-size: 70px;
    position: center;
    margin: auto;
}




.bucketTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: gray;
  border: 3px solid gray;
  border-radius: 5px;
  color: white;
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding: 0px 3px 0px 3px;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: black;
}

.btn::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

.btn:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.bucketbox {
    width: 1200px;
    padding: 20px;
    box-shadow: 0px 10px 10px 0px lightgoldenrodyellow;
    margin: 20px auto;
    background-color: #ffc800;

    border: 1px solid lightyellow;
    border-radius: 20px;

    margin-bottom: 100px;


}



.teambucket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.teambucket > input {
    width: 70%;
}

.bucketbox > li {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 10px;
    min-height: 48px;
}

.bucketbox > li > h2 {
    max-width: 75%;
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
    margin-bottom: 0px;

    font-size: 30px;
}

.bucketbox > li > h2.done {
    font-size: 30px;
    text-decoration: line-through;
}