<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>김정민 소개 페이지</title>
    <!--구글 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!--css 링크-->
    <link href="../static/jm_style.css" type="text/css" rel="stylesheet">


</head>

<body>
<header>
</header>
<div class="jm_menu">
    <nav class="jm_menu-bar">
        <!--프로필 이미지-->
        <div class="jm_index">
            <div class="jm_profile">
                <img class="jm_img" src="https://teamsparta.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F9a26e8f4-c939-48ca-b9b1-026b81000c89%2FKakaoTalk_Photo_2022-10-20-16-12-39_001.jpeg?table=block&id=c109cab9-42ad-4d0a-a4bd-fc8264338ece&spaceId=83c75a39-3aba-4ba4-a792-7aefe4b07895&width=2000&userId=&cache=v2" style="max-width: 100%; max-height: 100%">
            </div>
            <br>
        </div>
    </nav>
</div>
<!--about-->
<div>
    <section class="jm_about">
        <header class="jm_name">
            <p>JungMin Kim</p>
        </header>
        <div class="jm_card">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; width: 95%;">
                <div class="card-header">About Me</div>
                <div class="card-body">
                    <p class="card-title">상황에 따라 유연하게 업무</p>
                    <p class="card-title">MBTI: ISTJ</p>
                    <p class="card-title">집중력이 높음</p>
                    <a class="hyper" href="https://nomik.tistory.com/">나의 블로그</a>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; width: 95%;">
                <div class="card-header">I Learning</div>
                <div class="card-body">
                    <p class="card-title">JavaScript</p>
                    <p class="card-title">Python</p>
                    <p class="card-title">Node.js</p>
                    <p class="card-title">Express.js</p>
                    <p class="card-title">Nest.js</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; width: 95%;">
                <div class="card-header">TodoList</div>
                <div class="card-body">
                    <p class="card-title">개발자로 취업하기</p>
                    <p class="card-title">다이어트 성공하기</p>
                    <p class="card-title">내일배움캠프 수료하기</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!--guestbook-->
<div>
    <section class="jm_guest-book">
        <div class="mypost" id="post-box">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="url">
                <label for="floatingInput">이름</label>
            </div>
            <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment"
                      style="height: 100px"></textarea>
                <label for="floatingTextarea2">내용</label>
            </div>
            <button onclick="save_jungmin()" type="button" class="btn btn-dark">댓글 남기기</button>
        </div>
        <div class="mycards" id="comment-list">
        </div>
    </section>
</div>
<script type="text/javascript" src="../static/jm_main.js"></script>
</body>
</html>