<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<title>팀원 소개 페이지</title>
<link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
<link href="../static/team.style.css" rel="stylesheet">
<script src="../static/js.js"></script>
</head>
<body>
<div class="main">
    <div class="benner">
        <nav class="navigator">
            <div class="logo">
                <a class="site-name" href="/introduce">
                    <img src="https://cdn-icons-png.flaticon.com/512/2237/2237440.png" width="30">
                    오픈더도어</a>
                </h4>
            </div>
            <div class="link">
                <div class="menu">
                    <a href="/introduce">팀소개</a>
                </div>
                <div class="menu">
                    <a href="/info">팀원소개</a>
                </div>
                <div class="menu">
                    <a href="/table">프로젝트</a>
                </div>
            </div>
        </nav>
        <div class="title-wrap">
            <div class="title">
                팀원소개
            </div>
        </div>
    </div>
    <div>
        <!--		팀원 소개 카드 상단-->
        <div class="card-1">
            <figure class="snip0015">
                <img src="https://ca.slack-edge.com/T043597JK8V-U045WUPPY8P-43b1f030392b-512" alt="sample38"/>
                <figcaption>
                    <h2>9조<p><span>이보형</span></p>자기소개</h2>
                    <p>상세 페이지 구경가기</p>
                    <a href="#"></a>
                </figcaption>
                <div class="hello">
                    각자 남기고 싶은 한마디
                </div>
            </figure>
            <figure class="snip0015">
                <img src="https://ca.slack-edge.com/T043597JK8V-U0440PX8BFC-660668490c6b-512" alt="sample39"/>
                <figcaption>
                    <h2>9조<p><span>김정민</span>
                        <p>자기소개</h2>
                    <p>구경하려면 클릭!👆</p>
                    <a href="#"></a>
                </figcaption>
                <div class="hello">
                    비전공자도 쉽게 이해할 수 있게 설명할 수 있는 개발자가 되고 싶습니다.
                </div>
            </figure>
        </div>
        <!--		팀원 소개 카드 하단-->
        <div class="card-2">
            <figure class="snip0015">
                <img src="https://ca.slack-edge.com/T043597JK8V-U046FKPB83W-g85dd3474a45-512" alt="sample40"/>
                <figcaption>
                    <h2>9조<p></p><span>장승윤</span>
                        <p></p>자기소개<span>green</span></h2>
                    <p>By the end of the day, you ought to seriously re-examine your life.</p>
                    <a href="#"></a>
                </figcaption>
                <div class="hello">
                    각자 남기고 싶은 한마디
                </div>
            </figure>
            <figure class="snip0015">
                <img src="https://ca.slack-edge.com/T043597JK8V-U046WBSS33K-fb36b387bc13-512" alt="sample39"/>
                <figcaption>
                    <h2>9조<p></p><span>전규렬</span></p>자기소개</h2>
                    <p>Would the Mongols hoard, if the Mongol hordes got bored?.</p>
                    <a href="http://localhost:5000/"></a>
                </figcaption>
                <div class="hello">
                    노력은 배신하지 않는다, <br>모자른 만큼 노력하겠습니다.</br>
                </div>
            </figure>
            <figure class="snip0015">
                <img src="https://ca.slack-edge.com/T043597JK8V-U0493PUC8NM-ge85214530b5-512" alt="sample39"/>
                <figcaption>
                    <h2>9조<p><span>장동규</span></p>자기소개</h2>
                    <p>Would the Mongols hoard, if the Mongol hordes got bored?.</p>
                    <a href="#"></a>
                </figcaption>
                <div class="hello">
                    각자 남기고 싶은 한마디
                </div>
            </figure>
        </div>
    </div>
    <div class="guestbook">
        방명록 자리?
    </div>
</div>
</body>
</html>